{% extends "AppCoder/index.html" %}

{% block content %}
<div class="container">
    <h1>Sobre el Creador</h1>
    <div class="profile">
        <div class="profile-details">
            <h2>Guillermo Garay</h2>
            <p>Hola me llamo Guillermo Garay soy estudiante de Ingenieria en Informática, cursando el 3er año de la carrera en la Universidad Gastón Dachary en la ciudad de Posadas, Misiones. Actualmente me encuentro trabajando para Familia Bercomat, una empresa nacional de venta de materiales de construcción que cuenta con más de 40 sucursales en 7 provincias. Me desempeño como Data Analyst Jr, pero también estuve en puestos como Administrador de Aplicaciones Cloud y Soporte Técnico, en los 4 años ya que llevo trabajando en esta empresa.</p>
            <p>Mi objetivo es crear soluciones tecnológicas que mejoren la vida de las personas y faciliten los procesos empresariales. Utilizando como herramienta scripts de Python, ya que es muy potente a la hora de trabajar en lo que es ciencia y análisis de datos. Pero también aprendí en el curso a poder desarrollar una web en Django que puede ser de mucha ayuda para darle un poco de vida al gran volumen de datos que se manejan en estas áreas.</p>
        </div>
    </div>
</div>
{% endblock %}